.showcase {
  background: url("/public/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70rem;

  @media (min-width: 1024px) {
    background: url("/public/images/desktop/image-hero.jpg");
  }

  &__overlay {
    height: 70rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;

    h1 {
      color: $White;
      font-size: 4.6rem;
      line-height: 1.1;
      border: 2px solid $White;
      padding: 2rem;

      @media (min-width: 1024px) {
        font-size: 6.4rem;
        width: 600px;
        margin-top: 10rem;
      }
    }
  }
}
